{% extends "blog/base.html" %}
{% block Content %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>








    <table style="margin: 0px;">
     <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
          <tr align="center">
            <td colspan="3"> <h3> Add New Post {{ err }} </h3> </td>
        </tr>

        <tr>
            <td>Title</td><td>{{ post_form.title}}</td><td>{{ post_form.title.errors }}</td>
        </tr>

        <tr>
             <td>Descripton</td><td>{{ post_form.description }}</td><td>{{ post_form.description.errors }}</td>
        </tr>

        <tr>
             <td>Text</td><td>{{ post_form.text }}</td><td>{{ post_form.text.errors }}</td>
        </tr>
        <tr>
             <td>Image</td><td>{{ post_form.image }}</td><td>{{ post_form.image.errors }}</td>
        </tr>

        <tr>
            <td>Keywords</td><td>{{ post_form.keywords}}</td><td>{{ post_form.keywords.errors }}</td>
        </tr>

        <tr>
            <td>Categories</td><td>{{ post_form.categories }}</td><td>{{ post_form.categories.errors }}</td>
        </tr>

        <tr >
            <td align="right" > <input type="submit" value="Add New Post" id="create"></td><td> <input type="reset" value="reset" id="reset"></td>
        </tr>
         </form>
    </table>

 {% endblock %}












