<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    {% load i18n %}
     <style>
       .menu
    {
        margin-left: 10px;
        margin-top: 10px;
        background-color: lightcyan;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
        li{
            list-style: none;
        }
                .container
    {
        margin-top: 10px;
        background-color: lightcyan;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
            .post
    {
        margin-left: 10px;
        margin-top: 10px;
        background-color: lightcyan; max-width: 700px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    </style>
    <title></title>
</head>
<body>
    <div id="main-wrapper" style="width: 1000px;">
        <div id="menu" style="width: 200px; float: left">
            <div class="menu" >
                <h3 style="margin-left: 40px;">Menu</h3>
                <ul>
                    <a href="{% url post %}"> <li> {% trans "Home" %} </li> </a>
                    <li>{% trans "Contact" %} </li>
                    <li>{% trans "About" %} </li>
                </ul>
            </div>
{% if user.is_authenticated %}
            <div class="menu" style="width: 200px; ">

                <h3 style="margin-left: 40px;"> Welcome:
                <br> {{user.first_name }} {{user.last_name}}</h3>
                <ul>

                    <a href=" {% url update_user %}"> <li>{% trans "My Account" %} </li></a>
                    <a href="{% url myposts %}"> <li>{% trans "My Posts" %} </li> </a>
                    <a href=" {% url addpost %}"><li> {% trans "Add New Post" %} </li></a>
                    <a href="{% url change_password %}"> <li>{% trans "Change Password" %} </li> </a>
                    <a href="{% url change_email %}"> <li>{% trans "Change Email" %} </li> </a>
                    <a href="{% url logout %}"> <li>{% trans "Logout" %} </li> </a>


                </ul>
            </div>
                {% else %}
          <div class="menu" style="width: 200px; ">

                <h3 style="margin-left: 40px;"> Welcome:
                <br> {{user.first_name }} {{user.last_name}}</h3>
                <ul>



                    <a href="{% url login %}"> <li>{% trans "Login" %} </li></a>

                    <a href="{% url add_person %} "><li>{% trans "Register" %} </li> </a>
                </ul>
            </div>
            {% endif %}
        </div>

        <div id="container" style=" width: 710px; float: right; overflow: hidden;">
            {% block Content%}

            {% endblock %}
        </div>
    </div>
</body>
</html>
