{% extends "blog/base.html" %}
  {% load i18n %}
{% block Content %}

<a href=" {% url addpost %}"> {% trans "Add New Post" %} </a>
    {% for post in posts %}

         <div class="post" style="overflow:auto;margin-top:30px; width: 720px;">

         <table width="700">

         <tr>
             <td><a href="{% url dnm post.id  %}" > {{ post.title }}</a></a></td><td align="right">{{ post.date }}</td>
         </tr>


         <tr>
             <td colspan="2">{{ post.text|safe|truncatewords:200 }}</td>
         </tr>


         <tr>
             <td>{{ post.userid.first_name}} {{ post.userid.last_name}}</td><td>categories</td>
         </tr>


         <tr>
             <td>keywords</td>
             <td align="left" > <a href="{% url dnm post.id  %}"> Detail</a></td>
         </tr>
         </table>
         </div>

    {% endfor %}

{% endblock %}